<h1 class="mt-4">Menu</h1>
<div class="list-group list-group-flush">
    <a href="/admin/users" class="list-group-item list-group-item-action">Manage User</a>
    <a href="/admin/roles" class="list-group-item list-group-item-action">manage Role</a>
    <a href="/admin/permissions" class="list-group-item list-group-item-action">Manage Permission</a>
    <a href="/admin/report-sales" class="list-group-item list-group-item-action">Report Sales</a>
    <a href="/logout" class="list-group-item list-group-item-action bg-danger">Logout</a>
</div>